{% extends 'base.html' %}

{% block head %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="jumbotron bg-light-blue text-center">
    <h3>Narzędzia sieciowe</h3>
    <ul class="list-group mt-4">
      <li class="list-group-item"><a href="{{ url_for('main.graphs') }}">Wykresy zajętego pasma</a></li>
      <li class="list-group-item"><a href="{{ url_for('main.lteTransfer') }}">Kalkulator transferu LTE</a></li>
      <li class="list-group-item"><a href="https://energa-operator.pl/uslugi/awarie-i-wylaczenia/wylaczenia-biezace/ramka">Energa - mapa wyłączeń</a></li>
    </ul>
  </div>
</div>
{% endblock %}
